<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yojiokisoft.yumekanow"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name="com.yojiokisoft.yumekanow.MyWidget"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget" />
        </receiver>

        <service android:name="com.yojiokisoft.yumekanow.MyWidgetService" >
            <intent-filter>
                <action android:name="com.example.android.appwidget.ClickSample.ACTION_MY_CLICK" />
            </intent-filter>
        </service>

        <activity
            android:name="com.yojiokisoft.yumekanow.InitActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.yojiokisoft.yumekanow.activity.CardListActivity" >
        </activity>
        <activity
            android:name="com.yojiokisoft.yumekanow.activity.MakeCardActivity"
            android:theme="@android:style/Theme.Black" >
        </activity>
        <activity
            android:name="com.yojiokisoft.yumekanow.activity.MyPreference"
            android:theme="@android:style/Theme.Black" >
        </activity>
        <activity android:name="com.yojiokisoft.yumekanow.activity.UsageActivity" >
        </activity>
        <activity android:name="com.yojiokisoft.yumekanow.activity.CardPreviewActivity" >
        </activity>
        <activity android:name="com.yojiokisoft.yumekanow.activity.MainActivity" >
        </activity>
    </application>

</manifest>