<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yojiokisoft.yumekanow"
    android:installLocation="internalOnly"
    android:versionCode="3"
    android:versionName="1.1.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.yojiokisoft.yumekanow.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.yojiokisoft.yumekanow.YumekaNowService"
            android:exported="false" >
        </service>

        <activity
            android:name="com.yojiokisoft.yumekanow.activity.CardListActivity_"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yojiokisoft.yumekanow.activity.MakeCardActivity_"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yojiokisoft.yumekanow.activity.MyPreference_"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yojiokisoft.yumekanow.activity.UsageActivity_"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yojiokisoft.yumekanow.activity.CardPreviewActivity_"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yojiokisoft.yumekanow.activity.CardDetailActivity_"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yojiokisoft.yumekanow.activity.MainActivity_"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yojiokisoft.yumekanow.activity.WakeUpActivity_"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.yojiokisoft.yumekanow.activity.BillingActivity_"
            android:screenOrientation="portrait" >
        </activity>

        <receiver android:name="com.yojiokisoft.yumekanow.YumekaNowReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <!-- これがあると BOOT_COMPLETD が受信できない -->
                <!-- しかしこれがないと PACKAGE_REPLACED が受信できない？ -->
                <!-- data android:scheme="package" / -->
            </intent-filter>
        </receiver>
    </application>

</manifest>